# grafana/provisioning/datasources/victoriametrics.yml
apiVersion: 1

# Automatically remove any data sources not defined in this file
prune: true

datasources:
  - name: VictoriaMetrics
    uid: DS_PROMETHEUS
    type: prometheus
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
