# --- Secrets ---
.env
*.env
!.env.example
!*.env.example

# --- OS ---
.DS_Store

# --- VS Code ---
.vscode/*
!.vscode/extensions.json

# Python venv
.venv/

# build files
build/

# distribution files
dist/

# Python caches
__pycache__/
*.pyc
.pytest_cache/

# Distribution / packaging - list of files indicating project setup or metadata is missing information
*.egg-info/

# ToDos
Todo.txt
