# background on pyproject.toml files: https://packaging.python.org/en/latest/guides/writing-pyproject-toml/

[tool.pytest.ini_options]
testpaths = ["tests"]
markers = [
  "precommit: checks before committing",
  "postdeploy: checks after deploy on the raspberry pi",
  "doctor: tooling/config sanity checks for dev environments (WSL/Pi)",
  "lint: redundant sanity checks run by GitHub pre-commit hook for dev environments (WSL/Pi)"
]
addopts = [
  "--strict-markers",
  "--maxfail=1",
]
