# background on pyproject.toml files: https://packaging.python.org/en/latest/guides/writing-pyproject-toml/

[tool.pytest.ini_options]
addopts = "-q"
testpaths = ["tests"]
markers = [
  "precommit: checks before committing",
  "postdeploy: checks after deploy on the raspberry pi",
]
addopts = [
  "--strict-markers",
  "--maxfail=1",
]