ALERT_SMTP_SMARTHOST=<MY MAIL DOMAIN>:587
ALERT_SMTP_FROM=<MAIL ADRESS USED FOR SENDING>
ALERT_SMTP_AUTH_USERNAME=<MAIL ADRESS TO AUTHENTICATE AGAINST>
ALERT_SMTP_AUTH_PASSWORD=<PASSWORD>
ALERT_SMTP_REQUIRE_TLS=true

ALERT_EMAIL_TO=you@example.org
