# grafana/provisioning/datasources/prometheus.yml
apiVersion: 1

# Automatically remove any data sources not defined in this file
prune: true

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: DS_PROMETHEUS
    orgId: 2

datasources:
  - name: Prometheus
    uid: DS_PROMETHEUS
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
