# grafana/provisioning/datasources/prometheus.yml
apiVersion: 1

datasources:
  - name: DS_PROMETHEUS
    uid: DS_PROMETHEUS
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
